<div class="block">
	INFRA:
		<select id="infraId"  (change)="onChangeInfra($event.target.value)"  [(ngModel)]="baseForm.selectedInfraId"   >
			  <option   *ngFor="let infraObj of baseForm.infraIds" value="{{infraObj.infraId}}"  >
                  {{infraObj.infraName}}
              </option>	 
		</select>
</div>
<div class="block">
    PARTNER:
        <select id="clientId" (change)="onChangeClient($event.target.value)"  [(ngModel)]="baseForm.selectClientId" >
			  <option   *ngFor="let clientDto of baseForm.clientIds"  value="{{clientDto.clientId}}" >
                  {{clientDto.clientName}}
              </option>	 
		</select>
</div>		 